.item-md {
    border-bottom: 1px solid #dedede;
}

.register-card-header {
    text-align: center;
    color: #488aff !important;
    font-size: 3.6rem !important;
    font-weight: 900 !important;
}

.register-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-md{
    padding-left: 0 !important;
}